/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.site-footer:after,
.footer-widgets:after,
.site-header:after,
.pagination:after,
.site-container:after,
.site-inner:after,
.wrap:after {
	content: "";
	display: table;
	clear: both;
}

html,
body {
	overflow-x: hidden;
}
